In [1]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
from config import db_password

In [2]:
# Create connection to PostgreSQL and AWS RDS instance

db_string = f"postgresql://postgres:{db_password}@covid19-data-analysis.ctaxcmpyqvxi.us-east-1.rds.amazonaws.com:5432/covid19_data_analysis"

In [3]:
engine = create_engine(db_string)

# Load the uncleaned covid dataset csv into Pandas Dataframe

In [4]:
# Create the path to the csv file

file_dir = 'Resources/'

In [5]:
# Load the CSV file in Pandas DataFrame

covid_dataset_df = pd.read_csv(f'{file_dir}covid.csv',low_memory=False)

# Export the uncleaned covid dataframe to the AWS RDS instance

In [6]:
# Export the covid.csv file to the covid_dataset table

covid_dataset_df.to_sql(name='covid_dataset', con=engine, if_exists='replace', index=False)

# Import the covid_dataset table into a Dataframe to perform the Data Cleaning

In [7]:
# Connect to PostgreSQL server

dbConnection = engine.connect();

In [8]:
# Read the uncleaned data from the database table and load into a DataFrame instance

covid_df = pd.read_sql("select * from \"covid_dataset\"", dbConnection);

pd.set_option('display.expand_frame_repr', True);

# Print the DataFrame
covid_df.head(10)

,id,sex,patient_type,entry_date,date_symptoms,date_died,intubed,pneumonia,age,pregnancy,...,inmsupr,hypertension,other_disease,cardiovascular,obesity,renal_chronic,tobacco,contact_other_covid,covid_res,icu
0,16169f,2,1,4/5/20,2/5/20,9999-99-99,97,2,27,97,...,2,2,2,2,2,2,2,2,1,97
1,1009bf,2,1,19-03-2020,17-03-2020,9999-99-99,97,2,24,97,...,2,2,2,2,2,2,2,99,1,97
2,167386,1,2,6/4/20,1/4/20,9999-99-99,2,2,54,2,...,2,2,2,2,1,2,2,99,1,2
3,0b5948,2,2,17-04-2020,10/4/20,9999-99-99,2,1,30,97,...,2,2,2,2,2,2,2,99,1,2
4,0d01b5,1,2,13-04-2020,13-04-2020,22-04-2020,2,2,60,2,...,2,1,2,1,2,2,2,99,1,2
5,1beec8,2,2,16-04-2020,16-04-2020,29-04-2020,2,1,47,97,...,2,2,2,2,2,2,2,99,1,1
6,1.75E+56,2,2,22-04-2020,13-04-2020,9999-99-99,2,2,63,97,...,2,1,2,2,2,2,2,99,1,2
7,0ce1f5,1,1,21-05-2020,18-05-2020,9999-99-99,97,2,56,2,...,2,1,2,2,2,1,1,1,1,97
8,12b57a,1,1,22-04-2020,18-04-2020,9999-99-99,97,2,41,2,...,2,2,2,2,2,2,2,99,1,97
9,006b91,1,2,23-04-2020,18-04-2020,9999-99-99,1,1,39,2,...,2,2,2,2,1,2,2,99,1,2

In [9]:
# Shape of the dataframe

print(covid_df.shape)

(566602, 23)

# Data Cleaning

In [10]:
# Delete records where Covid results are pending (There are 66910 records for pending results)

covid_df.drop(covid_df[covid_df['covid_res'] == 3].index, inplace = True)

covid_df.shape

(499692, 23)

In [11]:
# Check for any duplicate patient id's

duplicate = covid_df[covid_df.duplicated('id')]

print(f"There are {len(duplicate)} duplicate patient id's")

There are 2856 duplicate patient id's

In [12]:
# Drop all the duplictae patient id's

covid_df.drop_duplicates(subset='id', keep='first', inplace=True)

covid_df.shape

(496836, 23)

In [13]:
# Convert the 'entry_date' and 'date_symptoms' columns to mm/dd/yyyy format

covid_df['entry_date'] = pd.to_datetime(covid_df['entry_date']).dt.strftime('%x')

covid_df['date_symptoms'] = pd.to_datetime(covid_df['date_symptoms']).dt.strftime('%x')

covid_df.head(10)

,id,sex,patient_type,entry_date,date_symptoms,date_died,intubed,pneumonia,age,pregnancy,...,inmsupr,hypertension,other_disease,cardiovascular,obesity,renal_chronic,tobacco,contact_other_covid,covid_res,icu
0,16169f,2,1,04/05/20,02/05/20,9999-99-99,97,2,27,97,...,2,2,2,2,2,2,2,2,1,97
1,1009bf,2,1,03/19/20,03/17/20,9999-99-99,97,2,24,97,...,2,2,2,2,2,2,2,99,1,97
2,167386,1,2,06/04/20,01/04/20,9999-99-99,2,2,54,2,...,2,2,2,2,1,2,2,99,1,2
3,0b5948,2,2,04/17/20,10/04/20,9999-99-99,2,1,30,97,...,2,2,2,2,2,2,2,99,1,2
4,0d01b5,1,2,04/13/20,04/13/20,22-04-2020,2,2,60,2,...,2,1,2,1,2,2,2,99,1,2
5,1beec8,2,2,04/16/20,04/16/20,29-04-2020,2,1,47,97,...,2,2,2,2,2,2,2,99,1,1
6,1.75E+56,2,2,04/22/20,04/13/20,9999-99-99,2,2,63,97,...,2,1,2,2,2,2,2,99,1,2
7,0ce1f5,1,1,05/21/20,05/18/20,9999-99-99,97,2,56,2,...,2,1,2,2,2,1,1,1,1,97
8,12b57a,1,1,04/22/20,04/18/20,9999-99-99,97,2,41,2,...,2,2,2,2,2,2,2,99,1,97
9,006b91,1,2,04/23/20,04/18/20,9999-99-99,1,1,39,2,...,2,2,2,2,1,2,2,99,1,2

In [14]:
# Convert the 'date_died' column to mm/dd/yyyy format
# The 'date_died' column consists of '9999-99-99' dates which when converted to mm/dd/yyyy format has been changed to 'NaN' because the standard date format does not
# support '9999-99-99' format of date as they are Out of bound datetime format.   

covid_df['date_died'] = pd.to_datetime(covid_df['date_died'], errors = 'coerce').dt.strftime('%x')

covid_df.head(10)

,id,sex,patient_type,entry_date,date_symptoms,date_died,intubed,pneumonia,age,pregnancy,...,inmsupr,hypertension,other_disease,cardiovascular,obesity,renal_chronic,tobacco,contact_other_covid,covid_res,icu
0,16169f,2,1,04/05/20,02/05/20,NaN,97,2,27,97,...,2,2,2,2,2,2,2,2,1,97
1,1009bf,2,1,03/19/20,03/17/20,NaN,97,2,24,97,...,2,2,2,2,2,2,2,99,1,97
2,167386,1,2,06/04/20,01/04/20,NaN,2,2,54,2,...,2,2,2,2,1,2,2,99,1,2
3,0b5948,2,2,04/17/20,10/04/20,NaN,2,1,30,97,...,2,2,2,2,2,2,2,99,1,2
4,0d01b5,1,2,04/13/20,04/13/20,04/22/20,2,2,60,2,...,2,1,2,1,2,2,2,99,1,2
5,1beec8,2,2,04/16/20,04/16/20,04/29/20,2,1,47,97,...,2,2,2,2,2,2,2,99,1,1
6,1.75E+56,2,2,04/22/20,04/13/20,NaN,2,2,63,97,...,2,1,2,2,2,2,2,99,1,2
7,0ce1f5,1,1,05/21/20,05/18/20,NaN,97,2,56,2,...,2,1,2,2,2,1,1,1,1,97
8,12b57a,1,1,04/22/20,04/18/20,NaN,97,2,41,2,...,2,2,2,2,2,2,2,99,1,97
9,006b91,1,2,04/23/20,04/18/20,NaN,1,1,39,2,...,2,2,2,2,1,2,2,99,1,2

In [15]:
# From the 'date_died' column convert the dates into categorical data as follows:
# "9999-99-99" (or NaN) to 0 
# valid death date rows to 1
# and add the above categorical data into a new 'survived' column.

covid_df['survived'] = covid_df['date_died'].fillna(0)

covid_df.loc[covid_df.survived != 0, "survived"] = 1

covid_df.head(10)

,id,sex,patient_type,entry_date,date_symptoms,date_died,intubed,pneumonia,age,pregnancy,...,hypertension,other_disease,cardiovascular,obesity,renal_chronic,tobacco,contact_other_covid,covid_res,icu,survived
0,16169f,2,1,04/05/20,02/05/20,NaN,97,2,27,97,...,2,2,2,2,2,2,2,1,97,0
1,1009bf,2,1,03/19/20,03/17/20,NaN,97,2,24,97,...,2,2,2,2,2,2,99,1,97,0
2,167386,1,2,06/04/20,01/04/20,NaN,2,2,54,2,...,2,2,2,1,2,2,99,1,2,0
3,0b5948,2,2,04/17/20,10/04/20,NaN,2,1,30,97,...,2,2,2,2,2,2,99,1,2,0
4,0d01b5,1,2,04/13/20,04/13/20,04/22/20,2,2,60,2,...,1,2,1,2,2,2,99,1,2,1
5,1beec8,2,2,04/16/20,04/16/20,04/29/20,2,1,47,97,...,2,2,2,2,2,2,99,1,1,1
6,1.75E+56,2,2,04/22/20,04/13/20,NaN,2,2,63,97,...,1,2,2,2,2,2,99,1,2,0
7,0ce1f5,1,1,05/21/20,05/18/20,NaN,97,2,56,2,...,1,2,2,2,1,1,1,1,97,0
8,12b57a,1,1,04/22/20,04/18/20,NaN,97,2,41,2,...,2,2,2,2,2,2,99,1,97,0
9,006b91,1,2,04/23/20,04/18/20,NaN,1,1,39,2,...,2,2,2,1,2,2,99,1,2,0

## After the Data Cleaning check the size of the dataframe and export the clean dataframe into the database

In [16]:
# Shape of the dataframe

print(covid_df.shape)

(496836, 24)

In [17]:
# Export the clean covid dataframe into the database: clean_covid_dataset table

covid_df.to_sql(name='clean_covid_dataset', con=engine, if_exists='replace', index=False)

In [18]:
#  Export the clean covid dataframe into a csv file

covid_df.to_csv('Resources/clean_covid.csv', index = False)